beautifulsoup4==4.13.3
boto3==1.35.73
clipsai==0.2.1
customtkinter==5.2.2
denoiser==0.1.5
Django==5.1.3
djangorestframework==3.15.2
faster_whisper==1.1.1
google-api-python-client==2.142.0
librosa==0.10.2.post1
moviepy==1.0.3
natsort==8.4.0
numba==0.57.1
numpy
onnxruntime==1.20.1
onnxruntime-directml==1.17.3
openai==1.66.2
openai-whisper==20240930
opencv-python==4.10.0.84
Pillow==11.1.0
pydub==0.25.1
pyloudnorm==0.1.1
requests==2.32.3
scipy==1.15.2
soundfile==0.12.1
tiktoken==0.8.0
torch==2.2.1
torchaudio==2.2.1
tqdm==4.66.5
ultralytics==8.3.55
webrtcvad-wheels==2.0.14
whisper-timestamped==1.15.8
youtube-transcript-api==1.0.0
yt-dlp==2025.2.19
djangorestframework-simplejwt
dotenv
django-cors-headers
django-allauth
cryptography
deep_translator
firebase-admin  